// Specific CSS for your home-page
.home_h1 {
  text-align: center;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  font-weight: bold;
}

.home_h2 {
  margin-top: 2vmin;
  margin-bottom: 3vmin;
}

.event_card_home {
  // background-size: cover;
  background-size: 120%;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: medium;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding: 3vmin;
  margin: 4vmin;
}

.calendar_cards {
  margin: auto 4vmin;
  text-align: center;
}

.event_card_home img{
  background-image: cover;
  background-size: 100%;
  opacity: 70%;
}

.container_home {
  margin: auto 4vmin;
}

.btn_inscription {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 3vmin;
  color: #fff;
  background: #506a7b;
  line-height: 1.15;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  &:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #000000;
  }
  &:active {
    color: white;
  }
  :focus {
    color: white;
  }
}

.h1_event {
  text-align: center;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
}

.btn-primary {
  --bs-btn-bg: #506a7b;
  border-radius: 10px;
  margin-left: 8px;
}

.inscrit-card {
  border: 4px solid rgb(48, 206, 48);
}

body {
  margin-bottom: 100px;
}

.partenariat img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  text-align:center;
}

.favourite_budy {
  text-align-last: center;
  margin-bottom: 30px;
}

.partenariat {
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.titre{
  margin-left: 15px;
}

.banner2 {
  background-size: cover;
  background-position: center;
  padding: 41px 0;
}

.banner2 h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner2 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container2{
  text-align: center;
}
