<div style="height: 40px;"></div>

<h1 class="buddy_h1">MES CONVERSATIONS</h1>

<div>
  <% if @chatrooms.empty? %>
    Vous n'avez pas encore de conversation en cours !
  <% else %>
    <% @chatrooms.each do |chatroom| %>
      <% buddies_list = chatroom.buddies_list %>
      <div class="card-p d-flex align-items-center justify-content-around">
        <%= link_to buddies_list_chatroom_path(buddies_list, chatroom) do %>
          <%= image_tag(chatroom.buddies_list.buddy.profilepic, class: "avatar") %>
        <% end %>
        <div style="width: 210px"><p class="mb-0">Discussion avec <strong><%= chatroom.buddies_list.buddy == current_user ?  chatroom.buddies_list.user.first_name : chatroom.buddies_list.buddy.first_name %></strong></p></div>
      </div>
    <% end %>
  <% end %>
</div>
