<div style="height: 40px;"></div>

<h1 class= "buddy_h1">MES CONVERSATIONS</h1>
<div>
  <% if @chatrooms.empty? %>
    Vous n'avez pas encore de conversation en cours !
   <% else %>
    <% @chatrooms.each do |chatroom| %>
      <% buddies_list = chatroom.buddies_list %>
      <div class="cardy">
        <p style="text-align: center; margin-top: 10px;">Discussion  avec <strong><%= chatroom.buddies_list.buddy == current_user ?  chatroom.buddies_list.user.first_name : chatroom.buddies_list.buddy.first_name %></strong></p>
        <%= link_to buddies_list_chatroom_path(buddies_list, chatroom) do %>
          <% image_tag(chatroom.buddies_list.buddy.profilepic, class: "avatar") %>
        <% end %>

    <% end %>
  <% end %>
  </div>
</div>
