.card_info_user {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 4vmin;
}

.journal_bord {
  font-weight: bold;
  text-align: center;
  padding: 8vmin;
}
// .photo_user image{
//   width: 100px;
// }

.card_booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
  text-align: center;
  align-items: center;
}

.profileinfos {
  padding: 3vmin;
  margin-left: 20px;
}

.titredash{
  margin-bottom: -0.5rem;
  font-weight: bold;
  text-align: center;
  padding: 3vmin;
}

h1{
  margin-top: 0;
    margin-bottom: -1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 8vmin;
}
