.h1-form {
  margin-top: 2vmin;
  margin-bottom: 3vmin;
  text-shadow: white 0.006em 0.006em 0.007em;
  text-align: center;
  padding: 3vmin;
  color: #506a7b;
  margin-left: 22px;
  font-weight: bold;
  font-size: 28px;
}

.submit_btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #506a7b;
  transition: background 0.3s ease;
  margin-top: 10px;
}
