.footer-lewagon {
  // justify-content: space-between;
  background: #506a7b;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: black;
}

.footer-lewagon .footer-collapse {
  text-align: center;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  margin-left: 15px;
}

.fa-message {
  text-decoration: none;
}

.fa-house {
  text-decoration: none;
}
