.card-p {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-column-gap: 5px;
}

.card-p img.avatar {
  height: 100px; /* Ajustez la hauteur de l'image selon vos besoins */
  width: 100px; /* Ajustez la largeur de l'image selon vos besoins */
  object-fit: cover;
  margin-right: 10px; /* Espacement entre l'image et le texte */
}
