.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-left: 6px;
  margin-top: 9px;
  margin-bottom: 3px;
}

.container-fluid {
  justify-content: center !important;
}
